@media (max-width: 1700px)
    .contacts
        &__content
            &-map 
                width: 700px
        &__list 
            .wrap 
                padding: 0 50px
            .country
                margin-bottom: 16px
                margin-top: 32px
            .images 
                img 
                    height: 195px
@media (max-width: 1400px)
    .contacts
        &__content
            &-map 
                width: 600px
                height: 300px
                margin-left: 20px
        &__list 
            .country
                &-item 
                    &-list 
                        gap: 20px
            .images 
                img 
                    height: 150px
                    border-radius: 10px
@media (max-width: 1200px)
    .contacts 
        &__content
            &-map 
                width: 500px
                height: 250px
        &__list 
            .images 
                gap: 10px
                .img 
                    height: 150px
            .country
                .btn 
                    margin-right: 10px
                    margin-bottom: 10px
@media (max-width: 992px)
    .contacts
        &__content
            &-row 
                flex-direction: column
            &-map 
                width: 100%
                height: 350px
                margin-left: 0
                margin-top: 20px
        &__list 
            .wrap 
                padding: 0 20px
            .country
                &-item 
                    &-list 
                        grid-template: auto / repeat(3, 1fr)
                    &-place 
                        strong 
                            margin-bottom: 10px
                        span 
                            margin-bottom: 5px
@media (max-width: 768px)
    .contacts
        &__list 
            .country
                &-item 
                    &-list 
                        gap: 15px
            .images
                img 
                    height: 130px
@media (max-width: 576px)
    .contacts
        &__content
            &-map 
                height: 200px
        &__list 
            .images
                grid-template: auto / 1fr 1fr
                img 
                    height: 33vw
                    &:last-child
                        grid-column: 1 / 3
            .wrap 
                padding: 0 10px
            .country
                &-item
                    &-list
                        grid-template: auto / 1fr 1fr
@media (max-width: 420px)
    .contacts
        &__list 
            .country
                &-item
                    &-list
                        grid-template: auto / 1fr